
@model pdtcc_doc_academy.Models.funcionario

@{
    ViewData["Title"] = "Cadastro de Funcionários";
}

<h2>Cadastrar Funcionário</h2>

<form asp-area="Funcionario" asp-controller="Funcionarios" asp-action="Cadastrar" method="post">
    <div>
        <label asp-for="nome_Func">Nome de Usuário</label>
        <input asp-for="nome_Func" type="text" id="NomeFuncionario" required />
    </div>
    <div>
        <label asp-for="email_Func">Email do usuário</label>
        <input asp-for="email_Func" type="email" id="EmailFuncionario" required />
    </div>
    <div>
        <label asp-for="senha_Func">Senha</label>
        <input asp-for="senha_Func" type="password" id="SenhaFuncionario" required />
    </div>

    <div>
        <button type="submit">Cadastrar</button>
    </div>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div style="color:red;">
        <strong>Por favor, corrija os erros abaixo.</strong>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
