
@model pdtcc_doc_academy.Models.Funcionarios

@{
    ViewData["Title"] = "Cadastro de Funcionários";
}

<h2>Cadastrar Funcionário</h2>

<form asp-area="Funcionario" asp-controller="Funcionarios" asp-action="Cadastrar" method="post">
    <div>
        <label for="nome_func">Nome de Usuário</label>
        <input type="text" id="nome_func" name="Username" value="@Model?.NomeFuncionario" required />
    </div>
    <div>
        <label for="email_func">Email do usuário</label>
        <input type="text" id="email_func" name="Email" value="@Model?.EmailFuncionario" required />
    </div>
    <div>
        <label for="senha_func">Senha</label>
        <input type="password" id="senha_func" name="Password" value="@Model?.SenhaFuncionario" required />
    </div>

    <div>
        <button type="submit">Cadastrar</button>
    </div>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div style="color:red;">
        <strong>Por favor, corrija os erros abaixo.</strong>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
