@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Create</h1>
<a asp-area="Funcionario" asp-controller="FuncionariosComunicados" asp-action="Cadastro"> aaaaaaa</a>
<h1>Delete</h1>
<label><a href="d:\visual studio\repo\pdtcc doc academy\areas\funcionario\views\funcionarioscomunicados\delete.cshtml">d:\visual studio\repo\pdtcc doc academy\areas\funcionario\views\funcionarioscomunicados\delete.cshtml</a></label>
<h1>Detail</h1>
<label><a href="d:\visual studio\repo\pdtcc doc academy\areas\funcionario\views\funcionarioscomunicados\details.cshtml">d:\visual studio\repo\pdtcc doc academy\areas\funcionario\views\funcionarioscomunicados\details.cshtml</a></label>
<h1>Edit</h1>
<label><a href="d:\visual studio\repo\pdtcc doc academy\areas\funcionario\views\funcionarioscomunicados\edit.cshtml">d:\visual studio\repo\pdtcc doc academy\areas\funcionario\views\funcionarioscomunicados\edit.cshtml</a></label>