@model funcionario
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section class="hero-section d-flex align-items-center">
</section>

<a asp-area="Escola" asp-controller="Escolas" asp-action="Index">aaaaaa</a>

