@model IEnumerable<pdtcc_doc_academy.Models.Funcionarios>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h1>Bem vindo(a):  @Html.DisplayNameFor(model => model.NomeFuncionario)</h1>

<a asp-area="Funcionario" asp-controller="Documentos" asp-action=""></a>