@model pdtcc_doc_academy.Models.Funcionarios

@{
    ViewData["Title"] = "Login de Funcionários";
}

<h2>Login de Funcionário</h2>

<form asp-area="Funcionario" asp-controller="Funcionarios" asp-action="Login" method="post">
    <div>
        <label asp-for="EmailFuncionario">Email do usuário</label>
        <input asp-for="EmailFuncionario" type="email" id="EmailFuncionario" required />
    </div>
    <div>
        <label asp-for="SenhaFuncionario">Senha</label>
        <input asp-for="SenhaFuncionario" type="password" id="SenhaFuncionario" required />
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div style="color:red;">
        <strong>Por favor, corrija os erros abaixo.</strong>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}