@model pdtcc_doc_academy.Models.Funcionarios

@{
    ViewData["Title"] = "Login de Funcionários";
}

<h2>Login de Funcionário</h2>

<form asp-area="Funcionario" asp-controller="Funcionarios" asp-action="Login" method="post">
    <div>
        <label asp-for="EmailFuncionario">Email do usuário</label>
        <input asp-for="EmailFuncionario" type="email" id="EmailFuncionario" name="email" required />
    </div>
    <div>
        <label asp-for="SenhaFuncionario">Senha</label>
        <input asp-for="SenhaFuncionario" type="password" id="SenhaFuncionario" name="senha" required />
    </div>
    <a asp-area="Funcionario"asp-controller="Funcionarios" asp-action="Cadastrar">sedfsfdsfds</a>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

