@model IEnumerable<pdtcc_doc_academy.Models.Escolas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <li class="list-group-item"><a asp-area="Aluno" asp-controller="Aluno" asp-action="Cadastrar"> Cadastrar o aluno</a></li>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeEscola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enderecoEscola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailEscola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senhaEscola)
            </th>
            <th></th>
        </tr>
    </thead>
</table>
