@model pdtcc_doc_academy.Models.Escolas

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Escolas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomeEscola" class="control-label"></label>
                <input asp-for="nomeEscola" class="form-control" name="nome" />
                <span asp-validation-for="nomeEscola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="enderecoEscola" class="control-label"></label>
                <input asp-for="enderecoEscola" class="form-control" name="endereco" />
                <span asp-validation-for="enderecoEscola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailEscola" class="control-label"></label>
                <input asp-for="emailEscola" class="form-control" name="email" />
                <span asp-validation-for="emailEscola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senhaEscola" class="control-label"></label>
                <input asp-for="senhaEscola" class="form-control" type="password" name="senha" />
                <span asp-validation-for="senhaEscola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Cadastrar">Cadastrar</a>
</div>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}