<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DOC Academy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-grid.rtl.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<footer class="text-center py-4 text-muted">
		<p>&copy; 2024 Portal Acadêmico. Todos os direitos reservados.</p>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
