@model pdtcc_doc_academy.Models.Alunos
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login de Aluno";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="nomeAluno" class="control-label"></label>
                <input asp-for="nomeAluno" class="form-control" name="nome"/>
                <span asp-validation-for="nomeAluno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="cpfAluno" class="control-label"></label>
                <input asp-for="cpfAluno" class="form-control" type="number" name="cpf"/>
                <span asp-validation-for="cpfAluno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="rgAluno" class="control-label"></label>
                <input asp-for="rgAluno" class="form-control" type="number" name="rg" />
                <span asp-validation-for="rgAluno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="rmAluno" class="control-label"></label>
                <input asp-for="rmAluno" class="form-control" type="number" name="rm" />
                <span asp-validation-for="rmAluno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="emailAluno" class="control-label"></label>
                <input asp-for="emailAluno" class="form-control" name="email" />
                <span asp-validation-for="emailAluno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="senhaAluno" class="control-label"></label>
                <input asp-for="senhaAluno" class="form-control" type="password" name="senha"/>
                <span asp-validation-for="senhaAluno" class="text-danger"></span>
            </div>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Entrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>