@model pdtcc_doc_academy.Models.Usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idUsuario" />
            <div class="form-group">
                <label asp-for="emailUsuario" class="control-label"></label>
                <input asp-for="emailUsuario" class="form-control" />
                <span asp-validation-for="emailUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="senhaUsuario" class="control-label"></label>
                <input asp-for="senhaUsuario" class="form-control" />
                <span asp-validation-for="senhaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tipoUsuario" class="control-label"></label>
                <input asp-for="tipoUsuario" class="form-control" />
                <span asp-validation-for="tipoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
