@{
    ViewData["Title"] = "Login";
}
@model pdtcc_doc_academy.Models.Aluno
<h2>Login</h2>

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="nomeAluno">Nome</label>
        <input asp-for="nomeAluno" class="form-control" />
        <span asp-validation-for="nomeAluno" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="senhaAluno">Senha</label>
        <input asp-for="senhaAluno" class="form-control"/>
        <span asp-validation-for="senhaAluno" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
