@* @{
    ViewData["Title"] = "Login de Funcionários";
}

@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container-fluid align-content-center">
    <ul class="list-group flex-column">
        <li class="list-group-item"><a asp-area="Escola" asp-controller="Escolas" asp-action="login">Escola</a></li>
        <li class="list-group-item"><a asp-area="Funcionario" asp-controller="Funcionarios" asp-action="login"> Entrar como Funcionário</a></li>
        <li class="list-group-item"><a asp-area="Aluno" asp-controller="Aluno" asp-action="Login"> Entrar como aluno</a></li>
    </ul>
</div> *@







}
