@model pdtcc_doc_academy.Models.Escola

@{
    ViewData["Title"] = "Editar Escola";
}

<h1>@ViewData["Title"]</h1>

<h4>Escola</h4>
<hr />
<div>
    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="idEscola" class="control-label"></label>
            <input asp-for="idEscola" class="form-control" readonly />
            <span asp-validation-for="idEscola" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="nomeEscola" class="control-label"></label>
            <input asp-for="nomeEscola" class="form-control" />
            <span asp-validation-for="nomeEscola" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="enderecoEscola" class="control-label"></label>
            <input asp-for="enderecoEscola" class="form-control" />
            <span asp-validation-for="enderecoEscola" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="emailEscola" class="control-label"></label>
            <input asp-for="emailEscola" class="form-control" />
            <span asp-validation-for="emailEscola" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="senhaEscola" class="control-label"></label>
            <input asp-for="senhaEscola" class="form-control" type="password" />
            <span asp-validation-for="senhaEscola" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="idEscola" />
            <input type="submit" value="Salvar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}