@model IEnumerable<pdtcc_doc_academy.Models.Protocolo>

<h2>Selecionar Protocolo</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo de Documento</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var protocolo in Model)
        {
            <tr>
                <td>@protocolo.idProtocolo</td>
                <td>@protocolo.tipo_Doc</td>
                <td>
                    <a asp-controller="Protocolos" asp-action="DownloadPdf" asp-route-idProcolo="@protocolo.idProtocolo" class="btn btn-primary">Baixar PDF</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Index", "Escolas")">Voltar</a>