@model pdtcc_doc_academy.Models.Alunos


<h2>Criar Aluno</h2>

<form asp-action="CreateAluno" method="post">
    <div class="form-group">
        <label asp-for="nomeAluno" class="control-label"></label>
        <input asp-for="nomeAluno" class="form-control" />
        <span asp-validation-for="nomeAluno" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="cpfAluno" class="control-label"></label>
        <input asp-for="cpfAluno" class="form-control" />
        <span asp-validation-for="cpfAluno" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="rgAluno" class="control-label"></label>
        <input asp-for="rgAluno" class="form-control" />
        <span asp-validation-for="rgAluno" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="rmAluno" class="control-label"></label>
        <input asp-for="rmAluno" class="form-control" />
        <span asp-validation-for="rmAluno" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="emailAluno" class="control-label"></label>
        <input asp-for="emailAluno" class="form-control" />
        <span asp-validation-for="emailAluno" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="senhaAluno" class="control-label"></label>
        <input asp-for="senhaAluno" type="password" class="form-control" />
        <span asp-validation-for="senhaAluno" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="serieCurso">Selecione a Série do Aluno:</label>
        <select name="serieCurso" id="serieCurso" class="form-control">
            <option value=""> Selecione uma Série </option>
            <option value="1 ano">1 ano</option>
            <option value="2 ano">2 ano</option>
            <option value="3 ano">3 ano</option>
        </select>
    </div>

    <div class="form-group">
        <label for="cursoId">Selecione o Curso</label>
        <select id="cursoId" name="cursoId" class="form-control">
            <option value="">-- Selecione um Curso --</option>
            @foreach (var curso in ViewBag.Curso)
            {
                <option value="@curso.IdCurso">@curso.nomecurso</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Criar Aluno</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}