﻿@{
    ViewData["Title"] = "Requisitar Documento";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="selectedOption">Selecione o Tipo de Documento:</label>
        <select id="selectedOption" name="selectedOption" class="form-control">
            <option value="1">Atestado de Matrícula</option>
            <option value="2">Autorização</option>
            <option value="3">Comunicado</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Requisitar</button>
</form>