@model pdtcc_doc_academy.Models.Protocolo

@{
    ViewData["Title"] = "Criar Protocolo - Funcionário";
}

<h1>Criar Protocolo - Funcionário</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="selectedOption">Selecione uma opção:</label>
        <select name="selectedOption" id="selectedOption" class="form-control">
            <option value="1">Atestado de Matrícula</option>
            <option value="2">Autorização</option>
            <option value="3">Comunicado</option> 
        </select>
    </div>

    <div class="form-group">
        <label for="alunoSelect">Selecione um Aluno:</label>
        <select name="idAluno" id="alunoSelect" class="form-control">
            @foreach (var aluno in ViewBag.Alunos)
            {
                <option value="@aluno.idAluno">@aluno.nomeAluno</option>
            }
        </select>
    </div>

    <input type="hidden" name="fk_funcionario" value="@User.FindFirst("idFuncionario").Value" /> <!-- ID do funcionário -->

    <button type="submit" class="btn btn-primary">Criar Protocolo</button>
</form>