@model pdtcc_doc_academy.Models.AlunoAutorizacao

<h2>Detalhes do Aluno</h2>

<p>ID: @Model.idAluno</p>
<p>Nome: @Model.nomeAluno</p>

<a asp-action="DownloadPdfAsync" asp-route-id="@Model.idAluno" class="btn btn-primary">
    Baixar Documento PDF
</a>