@model pdtcc_doc_academy.Models.Curso
<link href="~/css/style-requiriments-users.css" rel="stylesheet" />
<script src="~/js/main-requirements-users.js"></script>
<h1>Criar Curso</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="nomecurso" class="control-label"></label>
        <input asp-for="nomecurso" class="form-control" />
        <span asp-validation-for="nomecurso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Criar" class="btn btn-primary" />
    </div>
</form>
<br>
<a asp-action="Index" asp-controller="Escolas" class="btn btn-secondary">Cancelar</a>